<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.malu.springboot.web.mapper.EmployeeMapper">

    <resultMap id="employee" type="com.malu.springboot.web.entities.Employee">

        <association property="department" column="department" javaType="com.malu.springboot.web.entities.Department" select="com.malu.springboot.web.mapper.DepartmentMapper.getDepartment"/>
    </resultMap>



<!--    List<Employee> listEmployee();-->
    <select id="listEmployee" resultMap="employee">
        select id,lastName,email,gender,birth,department from employee;
    </select>
<!--    Employee getEmployee(Integer id);-->
    <select id="getEmployee" resultMap="employee">
        select id,lastName,email,gender,department,birth from employee where id = #{id};
    </select>
<!--    boolean addEmployee(Employee employee);-->
    <insert id="addEmployee">
        insert into employee(id, lastName, email, gender, department, birth) value(#{id},#{lastName},#{email},#{gender},#{department.id},#{birth});
    </insert>
<!--    boolean updateEmployee(Employee employee);-->
    <update id="updateEmployee">
        update employee set lastName=#{lastName},email=#{email},gender=#{gender},department=#{department.id},birth=#{birth}where id=#{id};
    </update>
<!--    boolean delEmployeeById(Integer id);-->
    <delete id="delEmployeeById">
        delete from employee where id=#{id};
    </delete>
</mapper>